/* line 3, ../../src/elements/proto-element.sass */
body {
  background-color: red;
}

/* line 8, ../../src/elements/proto-element.sass */
:host {
  display: block;
  padding: 0;
  background-color: transparent;
}
/* line 19, ../../src/elements/proto-element.sass */
:host .proto-content {
  padding: 1em;
  text-transform: lowercase;
}
/* line 25, ../../src/elements/proto-element.sass */
:host .proto-content blockquote {
  padding: 0;
  -webkit-margin-before: 0;
  -moz-margin-before: 0;
  -webkit-margin-after: 0;
  -moz-margin-after: 0;
  -webkit-margin-start: 0;
  -moz-margin-start: 0;
  -webkit-margin-end: 0;
  -moz-margin-end: 0;
}
