/* line 3, ../../src/elements/proto-element.sass */
body {
  background-color: red;
}

/* line 8, ../../src/elements/proto-element.sass */
:host {
  display: block;
  padding: 0;
  border: 1px solid pink;
  background-color: red;
}
/* line 18, ../../src/elements/proto-element.sass */
:host blockquote {
  width: 300px;
  padding: 0;
  text-transform: lowercase;
}
