// neither body or the the element selector are applied because css is loaded within scope of custom element
// to get a negative, move the import within proto-element.html (.jade) out of the template, and on top beneath the other imports. the document body and proto-element should render red and green then.
body
  background-color: red
// only :host styles are in use and are scoped within the template they are called from


\:host
  display: block


  padding: 0


  background-color: transparent

  // border: 1px solid pink

  .proto-content
    padding: 1em


    text-transform: lowercase

    blockquote
      padding: 0


      -webkit-margin-before: 0
      -moz-margin-before: 0
      -webkit-margin-after: 0
      -moz-margin-after: 0
      -webkit-margin-start: 0
      -moz-margin-start: 0
      -webkit-margin-end: 0
      -moz-margin-end: 0