doctype html
html
head
  meta(charset="utf-8")
  title
  link(href="index.css" rel="stylesheet" type="text/css")

  //- libraries are installed via bower and simply included piece by piece here. we could also use require.js, but this is far simpler and doesn't need any setup
  //- script(src="bower_components/angular/angular.js")

  //- app.js plus any other file from the js/ folder are concated into index.js. again, this spares setting up module loading
  script(src="bower_components/platform/platform.js")
  link(rel="import" href="elements/proto-element.html")

body
  //- .hello-world
  p.
    hello world

  proto-element


  script.
    document.addEventListener('WebComponentsReady', function() {
      // Perform some behaviour
    });

  script(src="//localhost:35729/livereload.js")
